
<%= form_tag sessions_path, :class => "js-validated-form" do %>
  <div class="login_container">
    <div class="row-fluid">
      <div class="span6">
        <div class="login_title">Need an rVidi Account? <%= link_to "Join", sign_up_path %></div>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
        <br>
        <br>
        <div class="login_title">Login with Facebook or Twitter </div>
        <%= link_to "<i class='sprite-facebook-white'></i>Login with Facebook".html_safe, "/auth/facebook", id: "sign_in", class: "btn btn-primary" %>
        <%= link_to "<i class='sprite-twitter-white'></i>Login with Twitter".html_safe, "/auth/twitter", id: "sign_in", class: "btn btn-info" %>

        <p class="margin_top_10"> rVidi will access friend list from Facebook or Twitter, allowing you to invite them to participate in videos, etc. Copy goes here explaining. You can also add your friend from Facebook or Twitter later on. </p>
      </div>
      <div class="span2 text_align_center">
        <i class="sprite-or-icon" style="margin-top: 125px;"></i>
      </div>
      <div class="span4 text_align_center"> 
        <div class="login_title">Log In</div>

        <div><%= text_field_tag :login, params[:login], :class => "span12 js-required", :placeholder=> "Enter Email or Username "%></div>
        <div><%= password_field_tag :password, '', :class => "span12 js-required", :placeholder=> "Enter Password"%></div>
        <div class ="span12 js-required"><%= link_to "forgotten password?", new_password_reset_path %></div>
      </div>
      <div class="row_fluid"> 
          <div class="text_align_center"> 
            <%= link_to "Cancel", home_index_path, :class => 'btn' %>
            <i class="sprite-or-icon_black" style=""></i>
            <%= submit_tag "Log in", :class => "btn btn-warning" %>
          </div>
      </div>
    </div>

  </div>  
  <!-- login container end here -->
<% end %>

<% content_for :js do %>
  facebookLogin("<%= configatron.facebook_app_id %>");
<% end %>
