
<div class="friend-box margin-5 padding-5 ">
  <% cameo_div_class = (cameo.id == selected_cameo.id) ? "active-cameo" : "" %>

  <div class="row-fluid show-cameo-detail <%= cameo_div_class %> ui-state-default" id="show_<%= cameo.show_id %>_cameo_<%= cameo.id %>_detail" data-id="<%=cameo.id %>" >

    <div class="span1">
      <!-- Checkbox -->
      <div class="selects-container margin-left-3">
        <% status = cameo.status== "enabled" ? true : false%>
        <%= check_box_tag('active_cameos[]', cameo.id, checked = status, :class => 'cameo_check')  %>
      </div>

      <!-- Delete Button -->
      <%= link_to "<i class='sprite-into-icon'></i>".html_safe, cameo_path(cameo), :method => :delete, :confirm => "Are you sure to remove this Cameo?", :remote => true %>

    </div>

    <div class="span4">
      <!-- Thumbnail of Video -->
      <% thumbnail = cameo.thumbnail_url.present? ? cameo.thumbnail_url : "/assets/default_image.png"  %>
      <%= image_tag thumbnail, :class => "pull-left margin-right-10 height-40" %>
    </div>

    <div class="span7 cameo_friends_text" style="padding-top:0px;">
      <!-- User Name -->
      <div class="font-size-14 text-color-white">
        <%= link_to cameo.user.full_name.titlecase,
          play_cameo_show_path(:cameo_id => cameo.id, :id => show.id),
          :remote => true %>
      </div>
      <!-- Cameo title -->
      <div class="font-size-11 pull-left text-color-dark-gray"> <%= cameo.title || "No Title" %></div>
      <div class="cl"></div>
      <div class="font-size-10 pull-left text-color-dark-gray"><%= (cameo.duration/100) if cameo.duration.present? %></div>
    </div>
  </div>
</div>