
<!-- If the show is protected  -->
<% if @contribution_preference == "password_protected" %>
  <% if current_user.present? && @cameo.show.user_id!=current_user.id %>
    <%= form_tag check_password_cameos_path do %>
      <div class="login_container">
        <div class="">
          <h3 id="myModalLabel">This Show is Password Protected</h3>
        </div>
        <div class="">
          <div class="control-group">
            <label class="control-label" for="inputEmail">Password</label>
            <div class="controls">
              <%= password_field_tag :password %>
              <%= hidden_field_tag :show_id, params[:show_id] %>
            </div>
          </div>
        </div>
        <div class="">
          <%= link_to "Close", root_url, :class => "btn btn-info" %>
          <%= submit_tag "Submit", :class => "btn btn-warning" %>
        </div>
      </div>
    <% end %>
  <% end %>

 <!-- Verifying whether the user is invited to the show or not -->
<% elsif @contribution_preference =="private" &&  @cameo.show.user_id!=current_user.id && !@invited.present? %>
  <div class="login_container">
    <div class="">
      <h3 id="myModalLabel">This Show is Private and you are not invited to contribute this Show yet</h3>
    </div>
  </div>  
  <div class="hr_bg_welcome" style="">
      <div class="text_align_center add_cameo_btn">
         <%= link_to "Go Back", root_url, :class => "btn btn-info", :style => "margin-top:8px;" %>
      </div>
  </div>

<% else %>
  <%= form_for @cameo, :html => {:class => "js-validated-form form-horizontal cameo-form", :multipart => true, :target => 'iframe-video-container' } do |f| %>

    <!-- Form fields (Black Box) -->
    <%= render :partial => "cameos/form/cameo_form_block", :locals => { :f => f, :title=>"Cameo Details" } %>

    <!-- Record the Opening Cameo (White Box) -->
    <%= render :partial => "shows/form/record_cameo_block", :locals => { :f => f, :title=>"Record the Cameo" } %>

    <!-- Invite Friends from Facebook and Twitter (White Box) -->
    <% if @cameo.invite_my_friend_to_this_show?(current_user) %>
      <%= render :partial => "shows/form/invite_friends_block", :locals => { :f => f } %>
    <% end %>
    <!-- Show Publish Button which submits the form -->
    <div class="buttons_height">
      <div class=" hr_bg" style="">
        <div class="text_align_center newshow_btn">
          <%= f.submit "Save Cameo", :class => "btn btn-warning publish-show-btn", :id => 'validate_new_cameo' %>
          <%= link_to "Cancel", show_path(:id => @cameo.show.id), :class => "btn  btn-info " %>
        </div>
      </div>
    </div>

  <% end %>
<% end %>
