<div class="player-details-box">
  <div class="accordion-inner padding_none">
    
    <div class="row-fluid margin-bottom-20">
      
      <div class="span1">
        <i class="sprite-camera-small"></i> <!-- number of contributors to the no of minutes.. -->
      </div>
      
      <div class="span2 ratings_line">
        <%= show.number_of_views %> views
      </div>
      
      <!-- Show Edit button if current user is the directory of the show -->
      <% if current_user.present? && current_user.is_director?(show) %>
        <%= link_to "<i class='sprite-camera-white'></i> Edit Show".html_safe, edit_show_path(show), :class => "btn btn-warning pull-right" %>
        <div class="cl"></div>
      <% end %>
    </div>
    
    <div class="row-fluid">
      
      <div class="span6">
        
        <!-- Description -->
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p> 
      
        <!-- Share Buttins -->
        <div class="span12 margin_top_10"> 
  <%#= social_share_button_tag("Share this video", :url => "rvidi.qwinixtech.com/shows/45") %>
          <%= social_share_button_tag("Share this video", :url => "#{configatron.site_address_full}/shows/#{show.id}") %>
        </div>
        <div class="span12 title">Share this video</div>
      
      </div>
      
      <div class="span6">
        
        <!-- Tags -->
        <div class="title margin-bottom-10">Tags</div>
        <div class="border-bottom-black"></div>
        <%= show.show_tag %><br />
        
        <!-- Comments -->
        <div class="title margin-top-20 margin-bottom-10">Comments</div>
        <div class="border-bottom-black"></div>
        <div id="show_<%= show.id %>_show_comments_div" class='show-comments-container'>
          <%= render :partial => "comments/show_comments_list", :locals => { :show_comments => show_comments, :all_comments => all_comments, :show => show } %>
        </div>
        
        <div class="span">
          <% if current_user.present? %>
            <%= link_to "Add Comment", new_comment_path(:show_id => show.id), :class => "btn btn-primary pull-right margin-right-10 ", :remote => true %>
            <div class="cl"></div>
            <div id="show_<%= show.id %>_add_comments_div"></div>
          <% else %>
            <%= link_to "Sign In", sign_in_path %> Or
            <%= link_to "Join", sign_up_path %>
            to add a comment
          <% end %>
        </div>
        
        
      </div>
      
    </div>

  </div>
  <div class="buttons_height_100">
    <div class="hr_bg_gettingstarted" style="">
      <div class="text_align_center add_cameo_btn">
        <% unless @sum_duration_of_cameos.to_i > @show.duration.to_i%> 
          <% unless @show.try(:end_set) && (@show.end_set < Time.now) %>
            <% if show.contributor_preferences != "private" %>
              <%= link_to "<i class='sprite-reel-white'></i> Add a Cameo".html_safe, new_cameo_path(:show_id => show.id, :director_id => show.user_id,:from =>params[:from], :through =>params[:email]), :class => "btn btn-info" %>
              <i class="sprite-or-icon_black" style=""></i>
            <% elsif show.contributor_preferences == "private" && current_user.present? && show.user_id==current_user.id %>
              <%= link_to "<i class='sprite-reel-white'></i> Add a Cameo".html_safe, new_cameo_path(:show_id => show.id, :director_id => show.user_id,:from =>params[:from], :through =>params[:email]), :class => "btn btn-info" %>
              <i class="sprite-or-icon_black" style=""></i>
            <% elsif show.contributor_preferences == "private" && @invited.present? %>
              <%= link_to "<i class='sprite-reel-white'></i> Add a Cameo".html_safe, new_cameo_path(:show_id => show.id, :director_id => show.user_id,:from =>params[:from], :through =>params[:email]), :class => "btn btn-info" %>
              <i class="sprite-or-icon_black" style=""></i>
            <% end %>
          <% end %>
        <% end %>
        
        <%= link_to "<i class='sprite-camera-white'></i> Start a New Show".html_safe, new_show_path, :class => "btn btn-warning" %>
      </div>
    </div>
  </div>
</div>