<%
unless defined?(height)
  height = "360px"
end
unless defined?(width)
  width = "100%"
end
%>
<% if cameo.nil? %>
  <img alt="" src="/assets/video_img.png" />
<% else %>

  <% content_for :js_with_script_tags do %>
    <script src="http://kaltura.qwinixtech.com/p/<%= configatron.kaltura_partner_id %>/sp/<%= configatron.kaltura_partner_id %>00/embedIframeJs/uiconf_id/6709462/partner_id/<%= configatron.kaltura_partner_id %>"></script>
  <% end %>
  <object id="kaltura_player_<%= cameo.show_id %>" name="kaltura_player_<%= cameo.show_id %>"
          type="application/x-shockwave-flash" allowFullScreen="true" allowNetworking="all"
          allowScriptAccess="always" height="330" width="740" bgcolor="#000000"
          xmlns:dc="http://purl.org/dc/terms/"
          xmlns:media="http://search.yahoo.com/searchmonkey/media/" rel="media:video"
          resource="http://kaltura.qwinixtech.com/index.php/kwidget/cache_st/1373551293/wid/_100/uiconf_id/6709462"
          data="http://kaltura.qwinixtech.com/index.php/kwidget/cache_st/1373551293/wid/_100/uiconf_id/6709462">
    <param name="allowFullScreen" value="true" />
    <param name="allowNetworking" value="all" />
    <param name="allowScriptAccess" value="always" />
    <param name="bgcolor" value="#000000" />
    <param name="flashVars" value="playlistAPI.autoInsert=true&playlistAPI.kpl0Name=<%= cameo.show.title %>&playlistAPI.kpl0Id=<%= cameo.show.kaltura_playlist_id %>"/>
    <param name="movie" value="http://kaltura.qwinixtech.com/index.php/kwidget/cache_st/1373551293/wid/_100/uiconf_id/6709462" /><a href="http://corp.kaltura.com">video platform</a>
    <a href="http://corp.kaltura.com/video_platform/video_management">video management</a>
    <a href="http://corp.kaltura.com/solutions/video_solution">video solutions</a>
    <a href="http://corp.kaltura.com/video_platform/video_publishing">video player</a> {SEO}
  </object>
<% end %>



