<div id="collapseTwo" class="accordion-body collapse in">

  <div class="accordion-inner">

    <div class="border-bottom-black"></div>

    <div class="player-contributors-box">

      <div class="padding-left-10">
        <div class="font-size-16 bold"><%= @show.title.capitalize %></div>
        <div class="font-size-12"><%= @show.director.full_name.titlecase %></div>
      </div>

      <div class="row-fluid">
        <% selected_cameo = @show.cameos('show_order asc').first %>
        <!-- Show Player -->
        <div id="show_<%= @show.id %>_kaltura_player_container" class="span7">
          <!-- <img src="/assets/video_img.png" alt=""> -->
          <% if params[:controller] == 'shows' && params[:action] == 'show' %>
            <%= render :partial => "shows/player/cameo_player", :locals => { :cameo => selected_cameo, :height =>"360px", :width => "100%" } %>
          <% else %>
            <%= render :partial => "shows/player/cameo_player_without_playlist", :locals => { :cameo => selected_cameo, :height =>"360px", :width => "100%" } %>
          <% end %>
        </div>

        <div class="span5" style="height:360px;overflow:auto;">
          <%= render :partial=>"shows/player/cameo_contributors", :locals=>{:show => @show, :selected_cameo=>selected_cameo} %>
        </div>
      </div>
    </div>

    <!-- <div class="player-contributors-box">

     <div> Clip the Video </div>

      <div class="row-fluid">
        <div id="show_<%= @show.id %>_kaltura_clipper_container" class="span7">
            <%#= render :partial => "shows/player/cameo_clipper_without_playlist", :locals => { :cameo => selected_cameo, :height =>"360px", :width => "100%" } %>
        </div>
         <div class="span5" style="height:360px;overflow:auto;">
        </div>
      </div> 
    </div>  -->


    <div class="row-fluid">
      <div class="span12">
        <%= content_tag :div, @show.description, :class=>"edit_contributor_text" %>
      </div>
    </div>

    <% if @show.end_set.present? && @show.enable_download.present? %>
      <div class="row-fluid">
        <div class="span1">
          <%= link_to "<i class='downloadsprite-dorrange'></i>".html_safe, @show.download_url, :title => 'download' %>
        </div>
      </div>
    <% end %>

  </div>
</div>