<div class="thumbnail">
  <div class="row-fluid caption">
    <div class="span4">
      <div class="detailsview_image_div item">
        <% thumbnail = show.cameos.present? ? show.cameos.first.thumbnail_url : "/assets/photo_background_2916660.jpeg" %>
        <%= link_to "<img class='thumbnail_image_widht_five' src='#{thumbnail}' alt='300x200'><span class='play'></span>".html_safe, show_path(show) %> </div>
    </div>
    <div class="span8">
      <div class="row-fluid">
        <div class="span4">
          <div class="details_title"><%= link_to show.title, show_path(show) %></div>
          <div class="thumbnail_name"><%= show.director.full_name %></div>
        </div>
        <% show_contributers = Cameo.where(:show_id=>show.id).collect(&:user_id)%>
        <div class="span8 text_align_right">
          <div style="padding-right: 4px;" class="pull-right">
            <% show_contributers.each do |each_contributer|%>
              <% user = User.find(each_contributer)%>
              <% thumbnail = user.image_url.present? ? user.image_url : "/assets/default_image.png"  %>
              <div class="contributors_image_detail"> <%= image_tag thumbnail, :class => "details_image_sizesmall"  %></div>
            <%end %>
            <i class="sprite-thumbnail_title_icon"></i>
          </div>
        </div>
      </div>
      <div class="span11">
        <%= show.description %>
      </div>
      <div class="span11">
        <div class="pull-right font_weight_bold">  <%= show.number_of_views %> views</div>
      </div>
    </div>
  </div>
</div>