<div class="myvision_container">
  <div class="row-fluid">
    <div class="span12 frinds_container_padding">
      <!-- Details view start here -->
      <div class="row-fluid" >
        <div class="span4"> 
          <div class="myvision_title span">
            My Friends 
          </div>
          <div class="">
            Click on friends below to see their profile and shows, or add new ones at right.
          </div>
        </div>
        <div class="span8">
          <div class="margin_bottom_si" > 
            <a class="btn  btn-primary " href="#"><i class="sprite-facebook-white"></i>Login with Facebook</a>
            <a class="btn  btn-info " href="#"><i class="sprite-twitter-white"></i>Login with Twitter</a>
          </div>

          <div class="input-prepend input-append search_padding">
            <span class="add-on prepend_background" ><i class="icon-search"></i></span>
            <input type="text" placeholder="Search by Title/Desc/Contributor"  class="input-xlarge">
            <span class="add-on btn-warning">Go</span>
          </div>
        </div>
      </div>


      <ul class="thumbnails">
        <li class="span12">
          <div class="thumbnail frinds_thumbnail_padding" >
            <div class="row-fluid frinds_row_margin">
              <div class="span4"> 
                <div class="row-fluid"> 
                  <div class="span4">
                    <div class="friend_image"> 
                      <img  src="/assets/OCP0154256_P_Portrait-of-a-young-man.png" alt="300x200" >
                    </div> 
                  </div>
                  <div class="span8">
                    <div class="friend_name"> <%= link_to "Jane Doe", friend_profile_user_path(current_user.id, :friend_id => User.last.id) %></div>
                    <div class="friends_show"> 3 shows,&nbsp;<a class="frinds_cameos">12 cameos </a> </div>
                  </div>
                </div>
              </div>
              <div class="span4"> 
                <div class="row-fluid"> 
                  <div class="span4">
                    <div class="friend_image"> 
                      <img  src="/assets/1624747_P_Businesswoman-in-front-of-people.png" alt="300x200" >
                    </div> 
                  </div>
                  <div class="span8">
                    <div class="friend_name"><%= link_to "Jane Doe", friend_profile_user_path(current_user.id, :friend_id => User.last.id) %></div>
                    <div class="friends_show"> 3 shows,&nbsp;<a class="frinds_cameos">12 cameos </a> </div>
                  </div>
                </div>
              </div>
              <div class="span4"> 
                <div class="row-fluid"> 
                  <div class="span4">
                    <div class="friend_image"> 
                      <img  src="/assets/AYP1251924_P_USA-California-Los-Angeles-Portrait.png" alt="300x200" >
                    </div> 
                  </div>
                  <div class="span8">
                    <div class="friend_name"> <%= link_to "Jane Doe", friend_profile_user_path(current_user.id, :friend_id => User.last.id) %></div>
                    <div class="friends_show"> 3 shows,&nbsp;<a class="frinds_cameos">12 cameos </a> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-fluid  ">
              <div class="span4"> 
                <div class="row-fluid frinds_row_margin"> 
                  <div class="span4">
                    <div class="friend_image"> 
                      <img  src="/assets/1624747_P_Businesswoman-in-front-of-people.png" alt="300x200" >
                    </div> 
                  </div>
                  <div class="span8">
                    <div class="friend_name"> <%= link_to "Jane Doe", friend_profile_user_path(current_user.id, :friend_id => User.last.id) %></div>
                    <div class="friends_show"> 3 shows,&nbsp;<a class="frinds_cameos">12 cameos </a> </div>
                  </div>
                </div>
              </div>
              <div class="span4"> 
                <div class="row-fluid"> 
                  <div class="span4">
                    <div class="friend_image"> 
                      <img  src="/assets/AYP1251924_P_USA-California-Los-Angeles-Portrait.png" alt="300x200" >
                    </div> 
                  </div>
                  <div class="span8">
                    <div class="friend_name"> <%= link_to "Jane Doe", friend_profile_user_path(current_user.id, :friend_id => User.last.id) %></div>
                    <div class="friends_show"> 3 shows,&nbsp;<a class="frinds_cameos">12 cameos </a> </div>
                  </div>
                </div>
              </div>
              <div class="span4"> 
                <div class="row-fluid"> 
                  <div class="span4">
                    <div class="friend_image"> 
                      <img  src="/assets/OCP0154256_P_Portrait-of-a-young-man.png" alt="300x200" >
                    </div> 
                  </div>
                  <div class="span8">
                    <div class="friend_name"> <%= link_to "Jane Doe", friend_profile_user_path(current_user.id, :friend_id => User.last.id) %></div>
                    <div class="friends_show"> 3 shows,&nbsp;<a class="frinds_cameos">12 cameos </a> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-fluid  ">
              <div class="span4"> 
                <div class="row-fluid frinds_row_margin"> 
                  <div class="span4">
                    <div class="friend_image"> 
                      <img  src="/assets/OCP0154256_P_Portrait-of-a-young-man.png" alt="300x200" >
                    </div> 
                  </div>
                  <div class="span8">
                    <div class="friend_name"> <%= link_to "Jane Doe", friend_profile_user_path(current_user.id, :friend_id => User.last.id) %></div>
                    <div class="friends_show"> 3 shows,&nbsp;<a class="frinds_cameos">12 cameos </a> </div>
                  </div>
                </div>
              </div>
              <div class="span4"> 
                <div class="row-fluid"> 
                  <div class="span4">
                    <div class="friend_image"> 
                      <img  src="/assets/1624747_P_Businesswoman-in-front-of-people.png" alt="300x200" >
                    </div> 
                  </div>
                  <div class="span8">
                    <div class="friend_name"> <%= link_to "Jane Doe", friend_profile_user_path(current_user.id, :friend_id => User.last.id) %></div>
                    <div class="friends_show"> 3 shows,&nbsp;<a class="frinds_cameos">12 cameos </a> </div>
                  </div>
                </div>
              </div>
              <div class="span4"> 
                <div class="row-fluid"> 
                  <div class="span4">
                    <div class="friend_image"> 
                      <img  src="/assets/AYP1251924_P_USA-California-Los-Angeles-Portrait.png" alt="300x200" >
                    </div>
                  </div>
                  <div class="span8">
                    <div class="friend_name"> <%= link_to "Jane Doe", friend_profile_user_path(current_user.id, :friend_id => User.last.id) %></div>
                    <div class="friends_show"> 3 shows,&nbsp;<a class="frinds_cameos">12 cameos </a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

      </ul>

      <!-- Details view end here -->
    </div>
  </div>

</div>