
<!-- login container start here -->
<div class="login_container">
  <div class="row-fluid">
    <div class="span2"> 
      <div class="">
        <img class="jane_image" src="/assets/1624747_P_Businesswoman-in-front-of-people.png" alt="">
      </div>
    </div>
    <div class="span3">
      <div class="myvision_title"><%= @friend.full_name %></div>
      <div class="margin_top_10 profile_title">
        <%= @friend.city %>
        <%= "," if (@friend.city.present? && @friend.state.present?) %>     
        <%= @friend.state %>
      </div>
      <div class="profile_title_blue"> 14 shows </a></div>
      <div class="profile_title_blue"> 21 cameos</div>    
    </div>
    <div class="span7"> 
      <div class="profile_title"> About <%= @friend.full_name %></div>
      <div class=""> 
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.  
      </div>
      <div class="margin_top_10"> 
        <a href="#" class="btn btn-info invite_tocameo_btn_padding"><i class="sprite-reel-white"></i>Invite to Cameo</a>
        <a href="#" class="btn btn-success"><i class="sprite-peoples-white"></i>Add as Friend</a>
      </div>
    </div>
  </div>
</div>
<div class="myvision_container">
  <div class="row-fluid">
    <div class="span12 frinds_container_padding">
      <div class="myvision_title line_height_40"> Jane's Show
        <p class="pull-right"> 
          <a class="sprite-list-icon" href="#"> </a>
          <a class="sprite-details-icon-lite" href="#"> </a>
        </p>
      </div>
      <!-- Thumbnail start here -->
      <ul class="thumbnails">
        <li style="" class="thumbnail_fivegroup">
          <div class="thumbnail">
            <div class="triangle-with-shadow item">  
              <a> 
                <img alt="300x200" src="/assets/photo_background_2916660.jpeg" class="thumbnail_image_widht_five"> 
                <span class="play"></span> 
              </a>
            </div>
            <div class="row-fluid caption1 ">
              <div class="span9">
                <div class="thumbnail_title">Title of the show </div>
                <div class="thumbnail_name">Director Name </div>
                <div class="thumbnail_contributor">6 Contributors </div>
              </div>
              <div class="span3"> 
                <i class="sprite-thumbnail_title_icon"></i>
              </div>
            </div>

          </div>

        </li>
        <li class="thumbnail_fivegroup">
          <div class="thumbnail">
            <div class="triangle-with-shadow item">  
              <a> 
                <img alt="300x200" src="/assets/Girl_looking_next_to_path_2687938.jpeg" class="thumbnail_image_widht_five"> 
                <span class="play"></span> 
              </a>
            </div>
            <div class="row-fluid caption1 ">
              <div class="span9">
                <div class="thumbnail_title">Title of the show </div>
                <div class="thumbnail_name">Director Name </div>
                <div class="thumbnail_contributor">6 Contributors </div>
              </div>
              <div class="span3"> 
                <i class="sprite-thumbnail_title_icon"></i>
              </div>
            </div>

          </div>
        </li>
        <li class="thumbnail_fivegroup">
          <div class="thumbnail">
            <div class="triangle-with-shadow item">   
              <a> 
                <img alt="300x200" src="/assets/Living-room-CBP1045831.jpeg" class="thumbnail_image_widht_five"> 
                <span class="play"></span> 
              </a>
            </div>
            <div class="row-fluid caption1 ">
              <div class="span9">
                <div class="thumbnail_title">Title of the show </div>
                <div class="thumbnail_name">Director Name </div>
                <div class="thumbnail_contributor">6 Contributors </div>
              </div>
              <div class="span3"> 
                <i class="sprite-thumbnail_title_icon"></i>
              </div>
            </div>
          </div>
        </li>
        <li class="thumbnail_fivegroup">
          <div class="thumbnail">
            <div class="triangle-with-shadow item">  
              <a> 
                <img alt="300x200" src="/assets/Elderly-man-looking-at-photographs-FAN2036854.jpeg" class="thumbnail_image_widht_five"> 
                <span class="play"></span> 
              </a>
            </div>
            <div class="row-fluid caption1 ">
              <div class="span9">
                <div class="thumbnail_title">Title of the show </div>
                <div class="thumbnail_name">Director Name </div>
                <div class="thumbnail_contributor">6 Contributors </div>
              </div>
              <div class="span3"> 
                <i class="sprite-thumbnail_title_icon"></i>
              </div>
            </div>
          </div>
        </li>
        <li class="thumbnail_fivegroup">
          <div class="thumbnail item">
            <div class="triangle-with-shadow">  
              <a> 
                <img alt="300x200" src="/assets/Living-room-CBP1045831.jpeg" class="thumbnail_image_widht_five"> 
                <span class="play"></span> 
              </a>
            </div>
            <div class="row-fluid caption1 ">
              <div class="span9">
                <div class="thumbnail_title">Title of the show </div>
                <div class="thumbnail_name">Director Name </div>
                <div class="thumbnail_contributor">6 Contributors </div>
              </div>
              <div class="span3"> 
                <i class="sprite-thumbnail_title_icon"></i>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <!-- Thumbnail end here -->
    </div>
    <div class="see_more text_align_right"> See more</div>
    <div class="row-fluid"> 
      <div class="span12 frinds_container_padding">
        <div class="myvision_title line_height_40"> Jane's Cameos
        </div>
        <!-- Thumbnail start here -->
        <ul class="thumbnails">
          <li style="" class="thumbnail_fivegroup">
            <div class="thumbnail">
              <div class="triangle-with-shadow item">  
                <a> 
                  <img alt="300x200" src="/assets/Woman-sorting-photographs-FAN2049915.jpeg" class="thumbnail_image_widht_five"> 
                  <span class="play"></span> 
                </a>
              </div>
              <div class="row-fluid caption1 ">
                <div class="span9">
                  <div class="thumbnail_title">Title of the show </div>
                  <div class="thumbnail_name">Director Name </div>
                  <div class="thumbnail_contributor">6 Contributors </div>
                </div>
                <div class="span3"> 
                  <i class="sprite-thumbnail_title_icon"></i>
                </div>
              </div>

            </div>

          </li>
          <li class="thumbnail_fivegroup">
            <div class="thumbnail">
              <div class="triangle-with-shadow item">  
                <a> 
                  <img alt="300x200" src="/assets/People-sleeping-by-photographs-ISP2138543.jpeg" class="thumbnail_image_widht_five"> 
                  <span class="play"></span> 
                </a>
              </div>
              <div class="row-fluid caption1 ">
                <div class="span9">
                  <div class="thumbnail_title">Title of the show </div>
                  <div class="thumbnail_name">Director Name </div>
                  <div class="thumbnail_contributor">6 Contributors </div>
                </div>
                <div class="span3"> 
                  <i class="sprite-thumbnail_title_icon"></i>
                </div>
              </div>

            </div>
          </li>
          <li class="thumbnail_fivegroup">
            <div class="thumbnail">
              <div class="triangle-with-shadow item">   
                <a> 
                  <img alt="300x200" src="/assets/Living-room-CBP1045831.jpeg" class="thumbnail_image_widht_five"> 
                  <span class="play"></span> 
                </a>
              </div>
              <div class="row-fluid caption1 ">
                <div class="span9">
                  <div class="thumbnail_title">Title of the show </div>
                  <div class="thumbnail_name">Director Name </div>
                  <div class="thumbnail_contributor">6 Contributors </div>
                </div>
                <div class="span3"> 
                  <i class="sprite-thumbnail_title_icon"></i>
                </div>
              </div>
            </div>
          </li>
          <li class="thumbnail_fivegroup">
            <div class="thumbnail">
              <div class="triangle-with-shadow item">  
                <a> 
                  <img alt="300x200" src="/assets/slider_image1.png" class="thumbnail_image_widht_five"> 
                  <span class="play"></span> 
                </a>
              </div>
              <div class="row-fluid caption1 ">
                <div class="span9">
                  <div class="thumbnail_title">Title of the show </div>
                  <div class="thumbnail_name">Director Name </div>
                  <div class="thumbnail_contributor">6 Contributors </div>
                </div>
                <div class="span3"> 
                  <i class="sprite-thumbnail_title_icon"></i>
                </div>
              </div>
            </div>
          </li>
          <li class="thumbnail_fivegroup">
            <div class="thumbnail item">
              <div class="triangle-with-shadow">  
                <a> 
                  <img alt="300x200" src="/assets/Living-room-CBP1045831.jpeg" class="thumbnail_image_widht_five"> 
                  <span class="play"></span> 
                </a>
              </div>
              <div class="row-fluid caption1 ">
                <div class="span9">
                  <div class="thumbnail_title">Title of the show </div>
                  <div class="thumbnail_name">Director Name </div>
                  <div class="thumbnail_contributor">6 Contributors </div>
                </div>
                <div class="span3"> 
                  <i class="sprite-thumbnail_title_icon"></i>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <!-- Thumbnail end here -->
      </div>
      <div class="see_more text_align_right"> See more</div>
    </div>
  </div>
</div>