
<!-- player container and a splash image (play button) -->
<div class="row-fluid">
  <div class="span7" style="width:556px; height:250px;">
    <a class="player plain" id="player2">
      <img src="<%= show.first_cameo_thumb(:player) %>" class="button" alt="" />
    </a>
  </div>

  <div class="span4">
    <div class="clips petrol" style="height:250px;overflow:auto;">
      <!-- single playlist entry -->
      <% show.cameos.each_with_index do |cameo, index| %>
        <a href="<%= cameo.rtmp_streaming_url %>"
           class="first pl-entry">
           <%= image_tag cameo.thumbnail_url, :class => "pull-left margin-right-10 height-40" %>
          <%= cameo.title %>
          <span><%= cameo.duration %></span>
          <em><%= cameo.metadata["resolution"] %></em>
        </a>
      <% end %>
    </div>
  </div>

</div>

<!-- configure entries inside playlist using standard HTML -->


<% content_for :js_with_script_tags do %>
  <script type="text/javascript">
   wowzaStreamingServerPlaylist( "player2", true );
  </script>
<% end %>
