<li class="span3">
  <div class="thumbnail">
    <div class="triangle-with-shadow">
aaa
      <%= link_to ( image_tag(show.first_cameo_thumb, :class => 'thumbnail_image_widht') ), web_show_path(:id => show.permalink) %>
    </div>
    <div class="row-fluid caption">
      <div class="span9">
        <div class="thumbnail_title">
        <%= link_to show.title.capitalize.truncate(12),
                    web_show_path(:id => show.permalink) %>
        </div>
        <div class="thumbnail_name"><%= show.director.full_name.titlecase %> </div>
        <% contribution =  show.cameos.where(:status => "enabled",
                                             :published_status => "published").count%>
        <div class="thumbnail_contributor"><%= contribution %> Contributors </div>
      </div>
      <div class="span3"><i class="sprite-thumbnail_title_icon"></i></div>
      <% preference = (show.display_preferences == "public") ? "sprite2-unlockgrey-icon" : "sprite2-lockorrange-icon" %>
      <div class="span3"><i class= <%= preference %> ></i></div>
    </div>
  </div>
</li>