<div class="carousel slide" id="myCarousel" style="margin-top: 20px;">
  <div class="carousel-inner">

    <% if @newest_shows.present? %>
      <% @newest_shows.each_with_index do |show, index| %>
        <div class="<%= index == 0 ? "active" : "" %> item ">
          <div class="container">
            <div class="carousel-caption">
              <div class="row-fluid">
                <div class="span6">
                  <% thumbnail = show.cameos.present? ? show.cameos.first.thumbnail_url : "/assets/photo_background_2916660.jpeg" %>
                  <%= link_to "<img alt='300x200' src='#{thumbnail}' style= 'padding-left:60px;' class='thumbnail_image_widht'>".html_safe, show_path(show) %>
                </div>
                <div class="span1"></div>
                <div class="span5">
                  <div class="slider_header"><%= link_to show.title.capitalize, show_path(:id=>show.permalink) %></div>
                  <div class="sub_title"><%= show.director.full_name.capitalize %></div>
                  <div class="slider_text">
                    <%= show.description %>
                  </div>
                  <% show_contributers = Cameo.where(:show_id=>show.id).collect(&:user_id)%>
                  <% if show_contributers.present? %>
                    <div class="five_title">Contributors</div>
                    <div class="">
                      <% show_contributers.take(5).each do |each_contributer|%>
                        <% user = User.find(each_contributer)%>
                        <% thumbnail = user.image_url.present? ? user.image_url : "/assets/default_image.png"  %>
                        <div class="contributors_image_detail"> <%= image_tag thumbnail , :class => "details_image_sizesmall", :style => "height:32px;" %></div>
                      <%  end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <a data-slide="prev" href="#myCarousel" class="left carousel-control sprite-leftarrow-icon" ></a>
  <a data-slide="next" href="#myCarousel" class="right carousel-control sprite-rightarrow-icon"></a>
</div>

<div class="container"> 
  <div class="row-fluid">
    <div class="span9" style="padding-left: 20px;">
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <!-- <li><a href="#tab1" data-toggle="tab">Channels</a></li> -->
          <li  class="active"><a href="#tab1" data-toggle="tab">Most Viewed</a></li>
          <li><a href="#tab2" data-toggle="tab">Newest</a></li>
          <li><a href="#tab3" data-toggle="tab">Most Commented</a></li>
          <!-- <li><a href="#tab5" data-toggle="tab">Top Rated</a></li> -->
        </ul>
        <div class="tab-content pill-pane-margin">
          <div class="tab-pane" id="tab1">
            <div class="span text_align_right">
              <%= link_to "", "javascript:void(0);", :class => "sprite-list-icon-lite display_formats active",
                :id => "showsthumb" %>
              <%= link_to "", "javascript:void(0);", :class => "sprite-details-icon-lite display_formats", :id => "showslist" %>
            </div>
            <% if @most_viewed.present? %>
              <% @most_viewed.each_slice(4) do|shows_slice| %>
                <div class="showsthumb_formats showsformat">
                  <div class="row-fluid">
                    <ul class="thumbnails">
                      <% shows_slice.each do|show| %>
                        <%= render :partial => "home/show_thumbnail", :locals => { :show => show } %>
                      <% end %>
                    </ul>
                  </div>
                </div>
                <div class="showslist_formats showsformat hide">
                  <% shows_slice.each do|show| %>
                    <div class="row-fluid">
                      <ul class="thumbnails">
                        <%= render :partial => "home/show_list", :locals => { :show => show } %>
                      </ul>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% else %>
              No Shows Added to the Application Yet
            <% end %>
          </div>
          <div class="tab-pane  active tab-changeable" id="tab2">
            <div class="span text_align_right">
              <%= link_to "", "javascript:void(0);", :class => "sprite-list-icon-lite display_formats active",
                :id => "showsthumb" %>
              <%= link_to "", "javascript:void(0);", :class => "sprite-details-icon-lite display_formats", :id => "showslist" %>
            </div>
            <% if @newest_shows.present? %>
              <% @newest_shows.each_slice(4) do |shows_slice| %>
                <div class="showsthumb_formats showsformat">
                  <div class="row-fluid">
                    <ul class="thumbnails">
                      <% shows_slice.each do|show| %>
                        <%= render :partial => "home/show_thumbnail", :locals => { :show => show } %>
                      <% end %>
                    </ul>
                  </div>
                </div>
                <div class="showslist_formats showsformat hide">
                  <% shows_slice.each do|show| %>
                    <div class="row-fluid">
                      <ul class="thumbnails">
                        <%= render :partial => "home/show_list", :locals => { :show => show } %>
                      </ul>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% else %>
              No Shows Added to the Application Yet
            <% end %>
            <!-- <div class="see_more text_align_right"> See more</div> -->
          </div>
          <div class="tab-pane tab-changeable" id="tab3">
            <div class="span text_align_right">
              <%= link_to "", "javascript:void(0);", :class => "sprite-list-icon-lite display_formats active", :id => "thumbs" %>
              <%= link_to "", "javascript:void(0);", :class => "sprite-details-icon-lite display_formats", :id => "lists" %>
            </div>
            
            <% @most_commented.each_slice(4) do|shows_slice| %>
              <div class="thumbs_formats showsformat">
                <div class="row-fluid">
                  <ul class="thumbnails">
                    <% shows_slice.each do|show| %>
                    <% show = Show.find(show)%>
                      <%= render :partial => "home/show_thumbnail", :locals => { :show => show } %>
                    <% end %>
                  </ul>
                </div>
               </div>
               <div class="lists_formats showsformat hide">
               <% shows_slice.each do|show| %>
                <div class="row-fluid">
                  <ul class="thumbnails">
                    <% show = Show.find(show)%>
                    <%= render :partial => "home/show_list", :locals => { :show => show } %>
                  </ul>
                </div>
                <% end %>
               </div>
            <%end%>
          </div>

          <div class="tab-pane" id="tab4">
            <p>Most Commented</p>
          </div>
          <div class="tab-pane" id="tab5">
            <p>Top Rated</p>
          </div>
        </div>
      </div>
    </div>
    <!-- side bar -->
    <% unless current_user.present? %>
      <div class="span2 text_align_center" style="">
        <div class="text_align_center" style="width: 140px;margin-left: 22px;">
          <div class="side_title text_align_center"> How It Works</div>
          <div class="text_align_center" style=""> <i class="sprite-down-arrow"> </i></div>
          <div class="text_align_center" > <i class='sprite-account-icon'> </i></div>
          <div class="text_align_center acc_text"> Create An Account </div>
          <div class="text_align_center" style=""> <i class="sprite-down-arrow"> </i></div>
          <div class="text_align_center" > <i class="sprite-camera-big"> </i></div>
          <div class="text_align_center show_text"> Start Your Show </div>
          <div class="text_align_center" style=""> <i class="sprite-down-arrow"> </i></div>
          <div class="text_align_center" > <i class="sprite-peoples-icon"> </i></div>
          <div class="text_align_center Participate_text"> Invite Others To Participate</div>
          <div class="text_align_center" style=""> <i class="sprite-or-icon"> </i></div>
          <div class="text_align_center" > <i class="sprite-reel-icon"> </i></div>
          <div class="text_align_center acc_text"> Contribute To An Existing Show</div>
        </div>
      </div>
    </div>
  <% end %>
</div>
