<div class="black-box accordion" id="accordion1">
  <div class="accordion-group plus-minus-container">
    <div class="accordion-heading">

      <div class="accordion-toggle changeable-plus-minus"
           data-toggle="collapse"
           data-parent="#accordion1"
           href="#collapseOne">

        <!-- Heading -->
        <%= content_tag :h2, @cameo.title, :class=>"pull-left" %>

        <!-- Help Icon -->
        <i class="sprite-question-small pull-left margin-top-20 margin-left-20"> </i>

        <!-- Toggle Icon -->
        <i class="sprite-minus-small plus-minus-i pull-right margin-top-10"> </i>

        <div class="cl"></div>

      </div>
    </div>

    <div id="collapseOne" class="accordion-body collapse in">

      <div class="accordion-inner">

        <div class="border-bottom-white"></div>

        <div id="show_<%= params[:id] %>_kaltura_player_container">
          <a href="<%= @cameo.rtmp_streaming_url %>"
             style="display:block;width:789px;height:444px;"
             id="player2">
               <%= image_tag @cameo.thumbnail_url(:screen), alt: @cameo.title %>
            <span class='play'></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="buttons_height">
  <div class=" hr_bg" style="">
    <div class="div-cameo-btns" style="">
      <div class="div-btn" style="margin-right:20px;">
        <%= link_to "Go Back", dashboard_user_account_path(current_user.id),
          :class => "btn  btn-info " %>
      </div>
      <div class="div-btn" style="">
        <%= link_to "Delete",  web_cameo_path(@cameo),
            :method => :delete,
            :confirm => 'Are You Sure?',
            :class => "btn  btn-info " %>
      </div>
      <div class="clear" style="clear:both"></div>
    </div>
  </div>
</div>


<% content_for :js_with_script_tags do %>
  <script type="text/javascript">
    wowzaStreamingServerPlaylist( "player2", false );
  </script>
<% end %>
