<div id="collapseOne" class="accordion-body collapse in">
  
  <div class="accordion-inner">
    
    <div class="border-bottom-white"></div>
    
    <!-- Title -->
    <div class="control-group">
      <label class="control-label blue_label" for="inputEmail">Title</label>
      <div class="controls">
        <%= f.hidden_field :user_id, :value => current_user.id, :class => "show-user-id" %>
        <%= f.text_field :title, :class => "js-required", :placeholder => "Title", :class => "show-title" %>
      </div>
    </div>
    
    <!-- Description -->
    <div class="control-group">
      <label class="control-label  blue_label" for="inputPassword">Description</label>
      <div class="controls">
        <%= f.text_field :description, :class => "js-required", :placeholder => "Description", :class => "show-description", :maxlength=>"100"%>
      </div>
    </div>

    <!-- Display -->
    <div class="control-group">
      <label class="control-label blue_label" for="inputEmail">Display</label>
      <div class="controls radio-inputs-container">
        <label class="radio <%= radio_label_class(@show, 'display_preferences', 'public') %>">
          <%= f.radio_button :display_preferences, "public", {:class => "radio-input show-display-preferences" } %>
          Public-Anyone can watch
        </label>
        <label class="radio <%= radio_label_class(@show, 'display_preferences', 'private') %>">
          <%= f.radio_button :display_preferences, "private", {:class => "radio-input show-display-preferences"} %>                  
          Private-Only my friends can watch
        </label>
        <label class="radio <%= radio_label_class(@show, 'display_preferences', 'password_protected') %>">
          <%= f.radio_button :display_preferences, "password_protected", {:class => "radio-input show-display-preferences"} %>
          Password Protected-Anyone with the password can watch
        </label>
        <label class="password_padding" >
          <%= f.password_field :display_preferences_password, :class => "show-display-preferences-password", :placeholder => "Password", :value => @show.display_preferences_password %>
        </label>
      </div>
    </div>
    
    <!-- Contributors -->
    <div class="control-group">
      <label class="control-label blue_label" for="inputEmail">Contributors</label>
      <div class="controls radio-inputs-container">
        <label class="radio <%= radio_label_class(@show, 'contributor_preferences', 'public') %>">
          <%= f.radio_button :contributor_preferences, "public", {:class => "radio-input show-contributor-preferences" } %>
          Public-Anyone can contribute
        </label>
        <label class="radio <%= radio_label_class(@show, 'contributor_preferences', 'private') %>">
          <%= f.radio_button :contributor_preferences, "private", {:class => "radio-input show-contributor-preferences"} %>
          Private-Only my friends who have received invitations can contribute
        </label>
        <label class="radio <%= radio_label_class(@show, 'contributor_preferences', 'password_protected') %>">
          <%= f.radio_button :contributor_preferences, "password_protected", {:class => "radio-input show-contributor-preferences"} %>
          Password Protected-Anyone with the password can contribute
        </label>
        <label class="password_padding">
          <%= f.password_field :contributor_preferences_password, :class => " show-contributor-preferences-password", :placeholder => "Password", :value => @show.contributor_preferences_password, :style=>"display:none"  %>
        </label>
      </div>
    </div>
    
    <!-- Tag the Show -->
    <div class="control-group">
      <label class="control-label  blue_label" for="inputPassword">Tag the Show</label>
      <div class="controls">
        <%= f.text_field :show_tag, :class => "show-show-tag", :placeholder => "Add a tag" %>
      </div>
    </div>
    
    <!-- Check Box -->
    <div class="control-group">
      <div class="controls">
        <label class="checkbox radiobtn_active_text">
          <%= f.check_box :need_review, {:class => ""} %>
          Let me review cameos before they're posted
        </label>
      </div>
    </div>
  
  </div>
 
</div>
