<div class="white-transparent-box accordion" id="accordion3">
  <div class="accordion-group plus-minus-container">
    <div class="accordion-heading">
      
      <div class="accordion-toggle changeable-plus-minus" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
        
        <!-- Heading -->
        <%= content_tag :h2, "Invite Friends", :class=>"pull-left" %>
        
        <!-- Toggle Icon -->
        <i class="sprite-minus-small plus-minus-i pull-right margin-top-10"> </i>
        
        <div class="cl"></div>
        
      </div>
    </div>
    
    <!-- Add friends from rVidi, Facebook and Twitter -->
    <%= render :partial => "shows/form/friends_block" %>
    
    <div id= "main_frame" class = "selects-container"></div>
    
  </div>
</div>

<% content_for :js_with_script_tags do %>
  
  <div id="fb-root"></div>
  <script>
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <script type="text/javascript">
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '<%= configatron.facebook_app_id %>', // App ID
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
      });
    }
      
    //Facebook Send Message to a friend
    $(document).on('click', '.button-facebook-friend-invite', function(e){
      e.preventDefault();
      facebook_send_message_to_invite($(this).attr('id'), '<%= j current_user.full_name %>',
                                      '<%= j configatron.site_address_full %>',
                                      '<%= current_user.id %>', '<%= params[:id] %>');
    });
  
    jQuery(document).ready(function($){
      $('.add_from_facebook').click(function(e){
        e.preventDefault();
        invite_friends();
      });
    });
    
  </script>
  
<% end %>