<% thumbnail = user.image_url.present? ? user.image_url : "/assets/default_image.png"  %>

<div class="friend-box row-fluid">
  
  <div class="span4">
    <div style="width:80px;height:80px;background-color:#c1c1c1;" class="friend_image">
      <%= image_tag thumbnail, :class => "details_image_sizesmall" %>
    </div>
  </div>
  
  <div class="span8">
    
    <!-- Full Name of the Friend -->
    <%= content_tag :span, user.full_name, :class=>"font-size-14 bold text-color-blue" %> 
    
    <!-- City -->
    <%= content_tag :div, user.city, :class=>"text-color-red font-size-12" unless user.city.blank? %>
    
    <!-- Show and Cameos Count   -->
    <div class="friends_show"> 
      <%= shows_count(user.id) %> shows,&nbsp;
      <span style="color:#f89406;"><%= cameos_count(user.id) %> cameos </span>
    </div>

    <!-- Button to invite friend -->
        <%if friend_mapping.present? %>
          <% if friend_mapping.status=="pending"%>
            <% if friend_mapping.user_id == current_user.id %>
              <span style="color:grey;">Request Pending</span>
            <% else %>
              <span style="color:grey;">Respond to Friend Request</span>
            <% end %>
          <%elsif friend_mapping.status=="ignored"%>
            <% if friend_mapping.user_id == current_user.id %>
              <span style="color:grey;">Request Pending</span>
            <% else %>
              <%= link_to "Confirm", accept_friend_request_user_accounts_path(:friend_id => user.id) %>
            <% end %>
          <% elsif friend_mapping.status=="accepted"%>
            <span style="color:green;">Friends</span>
          <% end %>
        <% else %>
          <%= link_to "Invite", invite_friend_web_users_path(:user_ids=>[user.id]), :remote => true %>
        <% end %>

    <% unless (friend_mapping.present? && friend_mapping.status=="accepted") %>
      <% if controller.action_name!="friends" %>
        <!-- Check Box to select the friend -->
        <label class="checkbox inline width-100-percent ">
          <%= check_box_tag('selected_friends[]', user.id, checked = false, :class => 'checkbox-input')  %> 
          <%= content_tag :span, "Select", :class=>"font-size-11 margin-top-5" %> 
        </label>
      <% end %>
    <% end %>
    
  </div>
  
</div>