
<div class="main_class">

  <%= form_for @show, :html => {:class => "js-validated-form form-horizontal", :method => :put} do |f| %>
    <%= hidden_field_tag :id, params[:id]%>
    <div class="login_container">
      <div class="accordion" id="accordion1">
        <div class="accordion-group plus-minus-container">
          <div class="accordion-heading">
            <div class="accordion-toggle myvision_title line_height_40 changeable-plus-minus" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
              Edit Show Details <i class="sprite-question-small"> </i> <i class="sprite-minus-small plus-minus-i pull-right"> </i>
            </div>
          </div>
          <%= render :partial => "shows/form_fields", :locals => { :f => f } %>
        </div>
      </div>

    </div>
    <div class="myvision_container edit_contributor_padding">
      <div class="accordion" id="accordion2">
        <div class="accordion-group plus-minus-container">
          <div class="accordion-heading edit_contributor_title_padding">
            <div class="accordion-toggle myvision_title line_height_40 changeable-plus-minus" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              Edit Contributors  <i class="sprite-minus-small plus-minus-i pull-right "> </i>
            </div>
          </div>
          <div id="collapseTwo" class="accordion-body collapse in">
            <div class="accordion-inner padding_none">
              <div class="row-fluid">
                <div class="span8 marging_none">
                  <div class="edit_title_bg">
                    <div class="edit_title"><%= @show.title.capitalize %></div>
                    <div class="font_weight_bold edit_subtitle"><%= @show.director.full_name %></div>
                  </div>
                  <div id="show_<%= @show.id %>_kaltura_player_container">
                    <!-- <img src="/assets/video_img.png" alt=""> -->
                    <% selected_cameo = @show.cameos('show_order asc').first %>
                    <% if params[:controller] == 'shows' && params[:action] == 'show' %>
                      <%= render :partial => "shows/cameo_player", :locals => { :cameo => selected_cameo } %>
                    <% else %>
                      <%= render :partial => "shows/cameo_player_without_playlist", :locals => { :cameo => selected_cameo } %>
                    <% end %>
                  </div>
                </div>

                <div class="span4 marging_none cameo_friends" id="sortable">
                  <% if @show.cameos.present? %>
                    <% @show.cameos.order('show_order asc').each do|show_cameo| %>
                      <% cameo_div_class = (show_cameo.id == selected_cameo.id) ? "active-cameo" : "" %>
                      <div class="row-fluid show-cameo-detail <%= cameo_div_class %> ui-state-default" id="show_<%= show_cameo.show_id %>_cameo_<%= show_cameo.id %>_detail" data-id="<%=show_cameo.id %>" >
                        <% unless show_cameo.user_id == show_cameo.director_id %>
                          <div class="span1 selects-container">
                            <% status = show_cameo.status== "enabled" ? true : false%>
                            <%= check_box_tag('active_cameos[]', show_cameo.id, checked = status, :class => 'cameo_check')  %>
                          </div>
                          <div class="span1">
                            <%= link_to "<i class='sprite-into-icon'></i>".html_safe, cameo_path(show_cameo), :method => :delete, :confirm => "Are you sure to remove this Cameo?", :remote => true %>
                          </div>
                        <% end %>
                        <div class="span4">
                          <div class="contributors_image">
                            <% thumbnail = show_cameo.user.image_url.present? ? show_cameo.user.image_url : "/assets/default_image.png"  %>
                            <div class="contributors_image_size"> <%= image_tag thumbnail, :class => "details_image_sizesmall" %></div>
                          </div>
                        </div>
                        <div class="span6 cameo_friends_text">
                          <%= link_to show_cameo.user.full_name, play_cameo_show_path(:cameo_id => show_cameo.id, :id => @show.id), :remote => true %>
                        </div>
                      </div>
                    <% end %>
    <%#= link_to 'Click here to Fix Order', "#", :onClick=>"sortList()" %>

                  <% else %>
                    <div class="row-fluid">
                      <div class="span12">No Contributions Added to this Show.</div>
                    </div>
                  <% end %>
                </div>

                <div class="row-fluid">
                  <div class="span12">
                    <div class="edit_contributor_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </div>
                    <div class="span3">
                      <div class="progress">
                        <div class="bar" style="width: 80%;"></div>
                      </div>
                    </div>
                    <div class="span1 font_weight_bold"> 80%</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= hidden_field_tag :order_list%>

    <div class="myvision_container">
      <div class="accordion" id="accordion3">
        <div class="accordion-group plus-minus-container">
          <div class="accordion-heading invite_friends_padding">
            <div class="accordion-toggle myvision_title line_height_40 changeable-plus-minus" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
              Invite Friends <i class="sprite-minus-small plus-minus-i pull-right"> </i>
            </div>
          </div>
          <div id="collapseThree" class="accordion-body collapse in">
            <div class="accordion-inner">
              <div class="row-fluid">
                <div class="span6">
                  <div class="title"> Invite some friends to contribute to this show!</div>
                  <div class="margin_top_10">
                    <a class="btn  btn-primary " href="#"><i class="sprite-facebook-white"></i>Add from Facebook</a>
                    <a class="btn  btn-info " href="#"><i class="sprite-twitter-white"></i>Add from Twitter</a>
                  </div>
                  <div class="margin_top_10">
                    <div class="input-append">
                      <div class="input-prepend input-append search_padding">
                        <span class="add-on prepend_background"><i class="icon-search"></i></span>
                        <input type="text" placeholder="Search by Name or Email"  class="search_input_bg input-xlarge" id = "search_value_to_invite" />
                        <span class="btn add-on btn-warning" id = "search_friends_to_invite">Go</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="span5">
                  <div style="padding: 5px;background-color: #d1d2d4;" class="selects-container">
                    <% if @friend_mappings.present? %>
                      <% @friend_mappings.each_slice(2) do|friends_slice| %>
                        <div class="row-fluid">
                          <% friends_slice.each do|friend_mapping| %>
                            <% friend = User.find(friend_mapping.friend_id) %>
                            <% position_class = (friends_slice.index(friend_mapping)==0) ? "padding_left" : "" %>
                            <div class="span6 <%= position_class %>" style="margin-left:-1px">
                              <label class="checkbox inline width-100-percent ">
                                <input type="checkbox" id="inlineCheckbox1" class="checkbox-input" value="option1"/> <%= "#{friend.first_name}  #{friend.last_name}"%>
                              </label>
                            </div>
                          <%end%>
                        </div>
                      <%end%>
                    <%end%>
                    <div class="row-fluid">
                      <div class="span4"></div>
                      <div class="span4"></div>
                      <div class="span4">
                        <label class="checkbox inline select-all-label">
                          Select all
                        </label>
                      </div>
                    </div>
                  </div>
                  <!-- </form> -->
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div id= "main_frame" class = "selects-container">
      </div>
    </div>

    <div class="buttons_height">
      <div class=" hr_bg" style="">
        <div class="text_align_center login_and_account">
          <%= f.submit "Update Show", :class => "btn " , :id=> "update_cameo"%>
          <i style="" class="sprite-or-icon_black"></i>
          <% if @show.try(:end_set) && (@show.end_set < Time.now) %>
            <%= link_to "Re-open Show", status_update_shows_path(:show_id => params[:id], :status => "start"), :class => "btn  btn-info " %>
          <% else %>
            <%= link_to "End Show", status_update_shows_path(:show_id => params[:id], :status => "end"), :class => "btn  btn-warning " %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if @show.cameos.present? %>
  <% content_for :js_with_script_tags do %>
    <script src="http://cdnapi.kaltura.com/p/<%= configatron.kaltura_partner_id %>/sp/<%= configatron.kaltura_partner_id %>00/embedIframeJs/uiconf_id/13376072/partner_id/<%= configatron.kaltura_partner_id %>"></script>
    <script>
      var PARTNER_ID = "<%= configatron.kaltura_partner_id %>"
      var ENTRY_ID = "<%= @show.cameos('show_order asc').first.kaltura_entry_id %>"
      var TARGET_DIV_ID = "kaltura_player_<%= @show.id %>"
    <% if params[:controller] == 'shows' && params[:action] == 'show' %>
      loadKalturaPlayer(PARTNER_ID, ENTRY_ID, TARGET_DIV_ID, true, '<%= @show.kaltura_playlist_id %>' );
      <% else %>
        loadKalturaPlayerWithoutPlaylist(PARTNER_ID, ENTRY_ID, TARGET_DIV_ID, true);
    <% end %>

    </script>
  <% end %>
<% end %>
