<% content_for :js_with_script_tags do %>
  <div id="fb-root"></div>
  <script>
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <script type="text/javascript">
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '<%= configatron.facebook_app_id %>', // App ID
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
      });
    }
      
    //Facebook Send Message to a friend
    $(document).on('click', '.button-facebook-friend-invite', function(e){
      e.preventDefault();
      facebook_send_message_to_invite($(this).attr('id'), '<%= j current_user.full_name %>',
                                      '<%= j configatron.site_address_full %>',
                                      '<%= current_user.id %>', '<%= params[:id] %>');
    });
  </script>

<% end %>

  <div class="myvision_container">
  <div class="accordion" id="accordion3">
    <div class="accordion-group plus-minus-container">
      <div class="accordion-heading invite_friends_padding">
        <div class="accordion-toggle myvision_title_dark line_height_40 changeable-plus-minus" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
          Invite Friends <i class="sprite-minus-small plus-minus-i pull-right"> </i>
        </div>
      </div>
      <div id="collapseThree" class="accordion-body collapse in">
        <div class="accordion-inner">
          <div class="row-fluid"> 
            <div class="span6">
              <div class="title"> Invite some friends to contribute to this show!</div>
              <div class="margin_top_10"> 
                <div class="margin_bottom_si" > 
                  <%= link_to raw("<i class=\"sprite-facebook-white \"></i>Add from Facebook"), '#',
                    :class => "btn  btn-primary add_from_facebook" %>
                  <%= link_to raw("<i class=\"sprite-facebook-white \"></i>Add from twitter"), "/auth/twitter?fetch_invities=true&show_id=#{params[:id]}", :class=>"btn btn-info" %>
                 </div>
              </div>
              <div class="margin_top_10">
                <div class="input-append">
                  <div class="input-prepend input-append search_padding">
                    <span class="add-on prepend_background"><i class="icon-search"></i></span>
                    <input type="text" placeholder="Search by Name or Email"  class="search_input_bg input-xlarge" id = "search_value_to_invite" />
                    <span class="btn add-on btn-warning" id = "search_friends_to_invite">Go</span>
                  </div>
                </div>
              </div>
            </div>
            
            <% if @friend_mappings.present? %>
              <div class="span5"> 
                <div style="padding: 5px;background-color: #d1d2d4;" class="selects-container">
                  <% @friend_mappings.each_slice(2) do|friends_slice| %>
                    <div class="row-fluid">
                      <% friends_slice.each do|friend_mapping| %>
                        <% friend = User.find(friend_mapping.friend_id) %>
                        <% position_class = (friends_slice.index(friend_mapping)==0) ? "padding_left" : "" %>
                         <div class="span6 <%= position_class %>" style="margin-left:-1px">
                           <label class="checkbox inline width-100-percent ">
                            <%= check_box_tag('selected_friends[]', friend.id, checked = false, :class => 'checkbox-input')  %> <%= "#{friend.full_name}"%> 
                            <!-- <input type="checkbox" id="inlineCheckbox1" class="checkbox-input" value="option1"> -->
                            </label>
                        </div>
                      <%end%>
                    </div>
                  <%end%>
                  <div class="row-fluid">
                    <div class="span4"></div>
                    <div class="span4"></div>
                    <div class="span4">
                      <label class="checkbox inline select-all-label">
                        Select all
                      </label>
                    </div>
                  </div>
                </div>
                <!-- </form> -->
              </div>
            <%end%>
            </div>
             <div class="">
                <% if @twitter_friends.present? %>
                  <%= render :partial=>"twitter_friends_list"%>
                <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div id= "main_frame" class = "selects-container">
    </div>
</div>


<% content_for :js_with_script_tags do %>
  <script type="text/javascript">
    jQuery(document).ready(function($){
      $('.add_from_facebook').click(function(e){
        e.preventDefault();
        invite_friends();
      });
    });
  </script>
<% end %>