<div class="myvision_container padding_none">
  <div class="accordion-inner padding_none">
    <div class="row-fluid">
      <div class="span8 marging_none">
        <div class="edit_title_bg"> 
          <div class="edit_title"> Title of the Show</div>
          <div class="font_weight_bold edit_subtitle">Director Name </div>
        </div>
        <div style="">
          <img alt="" src="/assets/video_img.png">
        </div>
      </div>
      <div class="span4 marging_none cameo_friends">
        <div class="row-fluid">
          <div class="span3">
            <div class="contributors_image"> <img alt="Contributors" src="/assets/AYP1251924_P_USA-California-Los-Angeles-Portrait.png" class="contributors_image_size"> </div>
          </div>
          <div class="span8 cameo_friends_text"> 
            First contributor
          </div>
        </div>
        <div class="row-fluid">
          <div class="span3">
            <div class="contributors_image"> <img alt="Contributors" src="/assets/CUP0065824_P_Close-up-of-businesswomans-face.png" class="contributors_image_size"> </div>
          </div>
          <div class="span8 cameo_friends_text"> 
            Another User
          </div>
        </div>
        <div class="row-fluid">
          <div class="span3">
            <div class="contributors_image"> <img alt="Contributors" src="/assets/AYP1251924_P_USA-California-Los-Angeles-Portrait.png" class="contributors_image_size"> </div>
          </div>
          <div class="span8 cameo_friends_text"> 
            Contributor Number Three
          </div>
        </div>
        <div class="row-fluid">
          <div class="span3">
            <div class="contributors_image"> <img alt="Contributors" src="/assets/Coworkers-concentrating-on-pictures-CUP0014013.jpeg" class="contributors_image_size"> </div>
          </div>
          <div class="span8 cameo_friends_text"> 
            user Four
          </div>
        </div>
        <div class="row-fluid">
          <div class="span3">
            <div class="contributors_image"> <img alt="Contributors" src="/assets/AYP1251924_P_USA-California-Los-Angeles-Portrait.png" class="contributors_image_size"> </div>
          </div>
          <div class="span8 cameo_friends_text"> 
            cameo the Fifth
          </div>
        </div>
        <div class="row-fluid">
          <div class="span3">
            <div class="contributors_image"> <img alt="Contributors" src="/assets/CUP0065824_P_Close-up-of-businesswomans-face.png" class="contributors_image_size"> </div>
          </div>
          <div class="span8 cameo_friends_text"> 
            Sixth person goes here
          </div>
        </div>
        <div class="row-fluid">
          <div class="span3">
            <div class="contributors_image"> <img alt="Contributors" src="/assets/AYP1251924_P_USA-California-Los-Angeles-Portrait.png" class="contributors_image_size"> </div>
          </div>
          <div class="span8 cameo_friends_text"> 
            Cameo the seven
          </div>
        </div>
        <div class="row-fluid">
          <div class="span3">
            <div class="contributors_image"> <img alt="Contributors" src="/assets/Coworkers-concentrating-on-pictures-CUP0014013.jpeg" class="contributors_image_size"> </div>
          </div>
          <div class="span8 cameo_friends_text"> 
            Eight Cameo
          </div>
        </div>
        <div class="row-fluid">
          <div class="span3">
            <div class="contributors_image"> <img alt="Contributors" src="/assets/Coworkers-concentrating-on-pictures-CUP0014013.jpeg" class="contributors_image_size"> </div>
          </div>
          <div class="span8 cameo_friends_text"> 
            Eight Cameo
          </div>
        </div>
        <div class="row-fluid">
          <div class="span3">
            <div class="contributors_image"> <img alt="Contributors" src="/assets/Coworkers-concentrating-on-pictures-CUP0014013.jpeg" class="contributors_image_size"> </div>
          </div>
          <div class="span8 cameo_friends_text"> 
            Eight Cameo
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid invitation_padding">
      <div class="span6"> 
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p> 
        <div class="span12 margin_top_10"> 
          <div class="social_media_icons"><a href="#"> <i class="sprite-su-icon"></i></a> </div>
          <div class="social_media_icons"><a href="#"> <i class="sprite-linkedin-icon"></i></a> </div>
          <div class="social_media_icons"><a href="#"> <i class="sprite-google-icon"></i></a> </div>
          <div class="social_media_icons"><a href="#"> <i class="sprite-di-icon"></i></a> </div>
          <div class="social_media_icons"><a href="#"> <i class="sprite-twitter-icon"></i></a> </div>
          <div class="social_media_icons"><a href="#"> <i class="sprite-facebook-icon"></i></a> </div>
          <div class="social_media_icons"><a href="#"> <i class="sprite-yahoo-icon"></i></a> </div>
          <div class="social_media_icons"><a href="#"> <i class="sprite-mail-icon"></i></a> </div>
        </div>
        <div class="span12 title">Share this video</div>
      </div>
      <div class="span5">
        <div class="title">Comments</div>
        <div>
          <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <p class="pull-right"> Username 1/2/2012</p>
        </div>
        <div>
          <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <p class="pull-right"> Username 1/2/2012</p>
        </div>
        <div>
          <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
          <p class="pull-right"> Username 1/2/2012</p>
        </div>
        <div class="span font_weight_bold">
          View all 6 comments
        </div>
        <div class="span">
          <% if current_user.present? %>
            <%= link_to "Add Comment", "#", :class => "font_weight_bold" %>            
          <% else %>
            <%= link_to "Sign In", sign_in_path, :class => "font_weight_bold" %> or 
            <%= link_to "Join", sign_up_path, :class => "font_weight_bold" %>
            to add comment
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons_height_100">
    <div class="hr_bg_gettingstarted" style=""> 
      <div class="text_align_center add_cameo_btn"> 
        <%= link_to "<i class='sprite-reel-white'></i> Add a Cameo".html_safe, new_cameo_path, :class => "btn btn-info" %>
        <i class="sprite-or-icon_black" style=""></i>
        <%= link_to "<i class='sprite-camera-white'></i> Add a New Show".html_safe, new_show_path, :class => "btn btn-warning" %>
      </div>
    </div>
  </div>

</div>