<% if params[:email].present?%>
  <% user =  User.find(params[:from_id])%>
 
  <div class="login_container">
    <div class="font_weight_bold">
      "Hello, <%= user.full_name %> has invited you to contribute to this video. Click <%= link_to "Add a cameo".html_safe, new_cameo_path(:show_id => show.id, :director_id => show.user_id,:from =>params[:from], :through =>params[:email])%> to contribute!" 
    </div>
  </div>

  <%= hidden_field_tag :through, params[:email] %>
<% end %>
<div class="myvision_container padding_none">
  <div class="accordion-inner padding_none">

    <div class="row-fluid">
      <div class="span8 marging_none">
        <div class="edit_title_bg"> 
          <div class="edit_title"><%= show.title.capitalize %></div>
          <div class="font_weight_bold edit_subtitle"><%= show.director.full_name.capitalize %></div>
        </div>
        <div id="show_<%= show.id %>_kaltura_player_container">
          <% selected_cameo = cameo.present? ? cameo : show.cameos('show_order asc').first %>          
          <%= render :partial => "shows/cameo_player", :locals => { :cameo => selected_cameo } %>
        </div>
      </div>
      <div class="span4 marging_none cameo_friends">
        <% if show.cameos.present? %>
          <% show.cameos.order('show_order asc').each do|show_cameo| %>
            <% cameo_div_class = (show_cameo.id == selected_cameo.id) ? "active-cameo" : "" %>
            <div class="row-fluid show-cameo-detail <%= cameo_div_class %>" id="show_<%= show_cameo.show_id %>_cameo_<%= show_cameo.id %>_detail">
              <div class="span3">
                <div class="contributors_image">
                  <% thumbnail = show_cameo.user.image_url.present? ? show_cameo.user.image_url : "/assets/default_image.png"  %>
                  <div class="contributors_image_size"> <%= image_tag thumbnail, :class => "details_image_sizesmall" %></div>
                </div>
              </div>
              <div class="span8 cameo_friends_text">
                <%#= link_to show_cameo.user.username, show_path(show.id, :cameo_id => show_cameo.id) %>
                <%= link_to show_cameo.user.full_name, play_cameo_show_path(:cameo_id => show_cameo.id), :remote => true %>
              </div>
            </div>
          <% end %>
        <% else %>  
          <div class="row-fluid">
            <div class="span12">No Contributions Added to this Show.</div>
          </div>
        <% end %>

      </div>
    </div>

    <div class="row-fluid invitation_padding">
      <div class="span1">
        <i class="sprite-camera-small"></i> <!-- number of contributors to the no of minutes.. -->
      </div>
      <div class="span2">
        <div class="ratings_line">
            <%= show.number_of_views %> views
        </div>
      </div>
      <div class="span6 ratings_line">
        <div class="ratings_line">
            <!-- <img alt="Contributors" src="./assets/img/yelp_rating.png"> &nbsp;&nbsp;4.2 Ratings  -->
        </div>
      </div>
    </div>

    <div class="row-fluid invitation_padding">
      <div class="span6"> 
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p> 
        <div class="span12 margin_top_10"> 
          <div class="social_media_icons"><a href="#"> <i class="sprite-su-icon"></i></a> </div>
          <div class="social_media_icons"><a href="#"> <i class="sprite-linkedin-icon"></i></a> </div>
          <div class="social_media_icons"><a href="#"> <i class="sprite-google-icon"></i></a> </div>
          <div class="social_media_icons"><a href="#"> <i class="sprite-di-icon"></i></a> </div>
          <div class="social_media_icons"><a href="#"> <i class="sprite-twitter-icon"></i></a> </div>
          <div class="social_media_icons"><a href="#"> <i class="sprite-facebook-icon"></i></a> </div>
          <div class="social_media_icons"><a href="#"> <i class="sprite-yahoo-icon"></i></a> </div>
          <div class="social_media_icons"><a href="#"> <i class="sprite-mail-icon"></i></a> </div>
        </div>
        <div class="span12 title">Share this video</div>
      </div>
      <div class="span5">
        <% if current_user.present? && current_user.is_director?(show) %>
          <div class="title"> <%= link_to "Edit show", edit_show_path(show.id), :class => "font_weight_bold"%></div><br/>
        <% end %>
        <div class="title">Tags</div>
        <%= show.show_tag%><br />
        <div class="title">Comments</div>
        <div id="show_<%= show.id %>_show_comments_div" class='show-comments-container'>
          <%= render :partial => "comments/show_comments_list", :locals => { :show_comments => show_comments, :all_comments => all_comments, :show => show } %>
        </div>

        <div class="span">
          <% if current_user.present? %>
            <%= link_to "Add Comment", new_comment_path(:show_id => show.id), :class => "font_weight_bold", :remote => true %>
            <div id="show_<%= show.id %>_add_comments_div"></div>
          <% else %>  
            <%= link_to "Sign In", sign_in_path %> Or 
            <%= link_to "Join", sign_up_path %>            
            to add a comment
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons_height_100">
    <div class="hr_bg_gettingstarted" style=""> 
      <div class="text_align_center add_cameo_btn"> 
        <% if show.contributor_preferences != "private" %>
          <%= link_to "<i class='sprite-reel-white'></i> Add a Cameo".html_safe, new_cameo_path(:show_id => show.id, :director_id => show.user_id,:from =>params[:from], :through =>params[:email]), :class => "btn btn-info" %>
            <i class="sprite-or-icon_black" style=""></i>
        <% elsif show.contributor_preferences == "private" && current_user.present? && show.user_id==current_user.id %>
          <%= link_to "<i class='sprite-reel-white'></i> Add a Cameo".html_safe, new_cameo_path(:show_id => show.id, :director_id => show.user_id,:from =>params[:from], :through =>params[:email]), :class => "btn btn-info" %>
          <i class="sprite-or-icon_black" style=""></i>
        <% elsif show.contributor_preferences == "private" && @invited.present? %>
          <%= link_to "<i class='sprite-reel-white'></i> Add a Cameo".html_safe, new_cameo_path(:show_id => show.id, :director_id => show.user_id,:from =>params[:from], :through =>params[:email]), :class => "btn btn-info" %>
            <i class="sprite-or-icon_black" style=""></i>
        <% end %>
        <%= link_to "<i class='sprite-camera-white'></i> Start a New Show".html_safe, new_show_path, :class => "btn btn-warning" %>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<% if @display_prefernce == "password_protected" %>
  <% if current_user.present? && show.user_id!=current_user.id %>
    <%= form_tag check_password_shows_path do %>
      <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <h3 id="myModalLabel">Password Protected</h3>
        </div>
        <div class="modal-body">
          <div class="control-group">
              <label class="control-label" for="inputEmail">Password</label>
              <div class="controls">
                <%= password_field_tag :password %>
                <%= hidden_field_tag :show_id, params[:id] %>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <%= link_to "Close", root_url, :class => "btn data-dismiss='modal' aria-hidden='true'" %>
          <%= submit_tag "Submit", :class => "btn btn-warning" %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>