  <!-- current user is the director of the show -->
<% if current_user.present? && show.user_id==current_user.id %>
  <%= render :partial => "show_page", :locals=>{:show => show, :cameo => cameo, :show_comments => show_comments, :all_comments => all_comments}%>
  <!-- If the show is protected  -->
<% elsif @display_prefernce == "password_protected" && !@non_rvidi_user_invitation.present?  %>
  <div class="login_container">
    <div class="">
      <h3 id="myModalLabel">This Show is Password Protected</h3>
    </div>
    <%= form_tag check_password_shows_path do %>
      <div class="row-fluid">
        <div class="">
          <div class="control-group">
            <label class="control-label" for="inputEmail">Please enter the password to view the show:</label>
            <div class="controls">
              <%= password_field_tag :password %>
              <%= hidden_field_tag :show_id, params[:id] %>
            </div>
          </div>
          <div class="">
            <%= link_to "Cancel", root_url, :class => "btn btn-info data-dismiss aria-hidden='true'" %>
            <%= submit_tag "Submit", :class => "btn btn-warning" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!-- If the show is private-->
<% elsif @display_prefernce =="private" && !@is_friend.present? && !@invited.present? && !@non_rvidi_user_invitation.present? %>
  <div class="login_container">
    <div class="">
      <h3 id="myModalLabel">This Show is Private and you are not invited to this Show yet or your are not friend of the show director</h3>
    </div>
  </div>  
   <div class="hr_bg_welcome" style="">
      <div class="text_align_center add_cameo_btn">
         <%= link_to "Go Back", root_url, :class => "btn btn-info", :style => "margin-top:8px;" %>
      </div>
  </div>
<% else %>
  <%= render :partial => "show_page", :locals=>{:show => show, :cameo => cameo, :show_comments => show_comments, :all_comments => all_comments}%>
<% end %>