<% comment do %>

<h1 id='h1_shows_header'>Listing shows</h1>

<!doctype html>
 
<html lang="en">
<head>
  <meta charset="utf-8" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <style>
  
  </style>
  <script>
  $(function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  });
  </script>
</head>
<body>

  <ul id="sortable">
    <% @shows.each do |show| %>
      <li class="ui-state-default" id= "<%= show.user_id %>"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item <%= show.user_id %></li>
    <% end %>
  </ul>


<%= link_to 'New Show', new_show_path, :onClick=>"sortList()" %>

</body>
</html>
<%end %>




<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<div draggable="true" ondrag="sortList()">
  This text <strong>may</strong> be dragged.
</div>
  <% @shows.each do |show| %>
    <tr>
      <td><%= show.user_id %></td>
      <td><%= link_to show.title, show %></td>
      <td><%= show.description %></td>
      <td><%= link_to 'Edit', edit_show_path(show), :id => "link_edit_#{show.title.downcase.split(' ').join('_')}" %></td>
      <td><%= link_to 'Destroy', show, method: :delete, data: { confirm: 'Are you sure?' }, id: "link_destroy_#{show.title.downcase.split(' ').join('_')}" %></td>
    </tr>
  <% end %>
</table>
<br />

<%= link_to 'New Show', new_show_path %>

