<%= form_for @show, :html => {:class => "js-validated-form form-horizontal show-cameo-form", :multipart => true} do |f| %>
  <div class="login_container">

    <div class="accordion" id="accordion1">
      <div class="accordion-group plus-minus-container">
        <div class="accordion-heading">
          <div class="accordion-toggle myvision_title line_height_40 changeable-plus-minus" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
            Show Details <i class="sprite-question-small"> </i> <i class="sprite-minus-small plus-minus-i pull-right"> </i>
          </div>
        </div>
        <%= render :partial => "shows/form_fields", :locals => { :f => f } %>
      </div>
    </div>

  </div>
  <div class="myvision_container edit_contributor_padding">
    <%= f.fields_for :cameos do|cameo_builder| %>
      <div class="accordion" id="accordion2">
        <div class="accordion-group plus-minus-container">
          <div class="accordion-heading edit_contributor_title_padding">
            <div class="accordion-toggle myvision_title_dark line_height_40 changeable-plus-minus" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              Record the Opening Cameo  <i class="sprite-minus-small plus-minus-i pull-right "> </i>
            </div>
          </div>
          <div id="collapseTwo" class="accordion-body collapse in">
            <div class="accordion-inner">
              <div class="row-fluid" style="margin:30px 0px 50px 0px;">
                <div class="span4 text_align_center cursor-pointer" id="camera-me">
                  <i class="sprite-camera-big"></i>
                  <div class="font_weight_bold">
                    Click here to record a video clip
                  </div>
                  <div> (15 seconds or less)</div>
                </div>
                <div class="span4 text_align_center">
                  <i class="sprite-or-icon_black"></i>
                </div>
                <div class="span4 text_align_center">
                  <div class="font_weight_bold">
                    Upload clip from your computer or Camera
                  </div><br />
                  <!-- <a class="btn btn-info " href="#">Choose</a> -->
                  <%= cameo_builder.hidden_field :user_id, :value => current_user.id, :class => "show-cameo-user-id" %>
                  <%= cameo_builder.hidden_field :director_id, :value => current_user.id, :class => "show-cameo-director-id" %>
                  <%= cameo_builder.hidden_field :status, :value => "enabled", :class => "show-cameo-status" %>
                  <%= hidden_field_tag 'show[cameos_attributes][0][audio_file]', '', :class => "recorded-audio-input cameo-recorded-audio-file" %>
                  <%= hidden_field_tag 'show[cameos_attributes][0][recorded_file]', '', :class => "recorded-video-input cameo-recorded-video-file" %>
                  <%= cameo_builder.file_field :video_file,:id => "fileToUpload", :class => "show-cameo-video-file",:onchange => "check_file()" %>
                  <%= hidden_field_tag 'tstamp', @tstamp %>
                </div>
              </div>

              <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="400" height="300"
                      id="camera" data="/assets/CameraDemo.swf" align="middle">
                <param name=FlashVars value="myVariable=<%= URI::escape(Cameo.get_stream_name(current_user, @tstamp)) %>&railsEnv=<%= URI::escape(Rails.env) %>" />
                <param name="movie" value="/assets/CameraDemo.swf" />
                <param name="quality" value="high" />
                <param name="bgcolor" value="#ffffff" />
                <param name="play" value="true" />
                <param name="loop" value="true" />
                <param name="wmode" value="window" />
                <param name="scale" value="showall" />
                <param name="menu" value="true" />
                <param name="devicefont" value="false" />
                <param name="salign" value="" />
                <param name="allowScriptAccess" value="sameDomain" />
                <!--[if !IE]>-->
                <object type="application/x-shockwave-flash" data="/assets/CameraDemo.swf"
                        width="300" height="290" id="camera">
                  <param name=FlashVars value="myVariable=<%= URI::escape(Cameo.get_stream_name(current_user, @tstamp)) %>&railsEnv=<%= URI::escape(Rails.env) %>" />
                  <param name="movie" value="/assets/CameraDemo.swf" />
                  <param name="quality" value="high" />
                  <param name="bgcolor" value="#ffffff" />
                  <param name="play" value="true" />
                  <param name="loop" value="true" />
                  <param name="wmode" value="window" />
                  <param name="scale" value="showall" />
                  <param name="menu" value="true" />
                  <param name="devicefont" value="false" />
                  <param name="salign" value="" />
                  <param name="allowScriptAccess" value="sameDomain" />
                  <!--<![endif]-->
                  <a href="http://www.adobe.com/go/getflash">
                    <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
                  </a>
                  <!--[if !IE]>-->
                </object>
                <!--<![endif]-->
              </object>
              <!-- Content to show HTML5 Recorder Starts -->
              <!--<video class='video-record hide' autoplay></video>
              <div id="video-preview" class='video-record hide'> -->
                <%#= link_to "Record", "javascript:void(0);",  :id => "record-me", :class => 'btn' %>
                <%#= link_to "◼", "javascript:void(0);",  :id => "stop-me", :class => 'btn' %>
                <!--<button id="play-me" disabled>►</button>-->
                <!--<span id="elasped-time"></span>
              </div>

              <audio class='audio-record hide' controls autoplay></audio>
              <div id='audio_record' class='audio-record hide'>
                <input onclick="startRecording()" type="button" value="start recording" />
                <input onclick="stopRecording()" type="button" value="stop recording and play" />
              </div>
              <!-- Content to show HTML5 Recorder Ends -->
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= render :partial=> "invite_friends_block", :locals =>{ :f => f } %>

  <div class="buttons_height">
    <div class=" hr_bg" style="">
      <div class="text_align_center newshow_btn">
        <!-- <a class="btn  btn-warning " href="#">Publish show</a> -->
        <%= f.submit "Publish Show", :class => "btn btn-warning publish-show-btn" %>
      </div>
    </div>
  </div>
<% end %>
<% content_for :js_with_script_tags do %>
  <script src="/assets/recorder.js"> </script>
  <script src="/assets/whammy.js"></script>
  <script src="/assets/html5_audio_video_record_scripts.js"></script>
<% end %>
