<%= form_for @show, :html => {:class => "js-validated-form form-horizontal show-cameo-form", :multipart => true} do |f| %>
  <div class="login_container">

    <div class="accordion" id="accordion1">
      <div class="accordion-group plus-minus-container">
        <div class="accordion-heading">
          <div class="accordion-toggle myvision_title line_height_40 changeable-plus-minus" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
            Show Details <i class="sprite-question-small"> </i> <i class="sprite-minus-small plus-minus-i pull-right"> </i>
          </div>
        </div>
        <%= render :partial => "shows/form_fields", :locals => { :f => f } %>
      </div>
    </div>

  </div>
  <div class="myvision_container edit_contributor_padding">
    <%= f.fields_for :cameos do|cameo_builder| %>
      <div class="accordion" id="accordion2">
        <div class="accordion-group plus-minus-container">
          <div class="accordion-heading edit_contributor_title_padding">
            <div class="accordion-toggle myvision_title line_height_40 changeable-plus-minus" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              Record the Opening Cameo  <i class="sprite-minus-small plus-minus-i pull-right "> </i>
            </div>
          </div>
          <div id="collapseTwo" class="accordion-body collapse in">
            <div class="accordion-inner">
              <div class="row-fluid"> 
                <div class="span3 text_align_center cursor-pointer" id="camera-me">
                  <i class="sprite-camera-big"></i>
                  <div class="font_weight_bold">
                    Click here to record a video clip
                  </div>
                  <div> (15 seconds or less)</div>
                </div>
                <div class="span2 text_align_center">
                  <i class="sprite-or-icon_black"></i>
                </div>
                <div class="span3 text_align_center">
                  <div class="font_weight_bold"> 
                    Upload clip from your computer or Camera
                  </div><br>
                  <!-- <a class="btn btn-info " href="#">Choose</a> -->
                  <%= cameo_builder.hidden_field :user_id, :value => current_user.id, :class => "show-cameo-user-id" %>
                  <%= cameo_builder.hidden_field :director_id, :value => current_user.id, :class => "show-cameo-director-id" %>
                  <%= cameo_builder.hidden_field :status, :value => "enabled", :class => "show-cameo-status" %>
                  <%= hidden_field_tag 'show[cameos_attributes][0][audio_file]', '', :class => "recorded-audio-input cameo-recorded-audio-file" %>
                  <%= hidden_field_tag 'show[cameos_attributes][0][recorded_file]', '', :class => "recorded-video-input cameo-recorded-video-file" %>
                  <%= cameo_builder.file_field :video_file,:id => "fileToUpload", :class => "show-cameo-video-file",:onchange => "check_file()" %>
                </div>
              </div>

              <!-- Content to show HTML5 Recorder Starts -->
              <video class='video-record hide' autoplay></video>
              <div id="video-preview" class='video-record hide'>
                <%= link_to "Record", "javascript:void(0);",  :id => "record-me", :class => 'btn' %>
                <%= link_to "◼", "javascript:void(0);",  :id => "stop-me", :class => 'btn' %>
                <!--<button id="play-me" disabled>►</button>-->
                <span id="elasped-time"></span>
              </div>

              <audio class='audio-record hide' controls autoplay></audio>
              <div id='audio_record' class='audio-record hide'>
                <input onclick="startRecording()" type="button" value="start recording" />
                <input onclick="stopRecording()" type="button" value="stop recording and play" />
              </div>
              <!-- Content to show HTML5 Recorder Ends -->
            </div>
          </div>
        </div>
      </div>
    <% end %>  
  </div>

  <div class="myvision_container">
    <div class="accordion" id="accordion3">
      <div class="accordion-group plus-minus-container">
        <div class="accordion-heading invite_friends_padding">
          <div class="accordion-toggle myvision_title line_height_40 changeable-plus-minus" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
            Invite Friends <i class="sprite-minus-small plus-minus-i pull-right"> </i>
          </div>
        </div>
        <div id="collapseThree" class="accordion-body collapse in">
          <div class="accordion-inner">
            <div class="row-fluid"> 
              <div class="span6">
                <div class="title"> Invite some friends to contribute to this show!</div>
                <div class="margin_top_10"> 
                  <a class="btn  btn-primary " href="#"><i class="sprite-facebook-white"></i>Add from Facebook</a>
                  <a class="btn  btn-info " href="#"><i class="sprite-twitter-white"></i>Add from Twitter</a>
                </div>
                <div class="margin_top_10">
                  <div class="input-append">
                    <div class="input-prepend input-append search_padding">
                      <span class="add-on prepend_background"><i class="icon-search"></i></span>
                      <input type="text" placeholder="Search by Name or Email"  class="search_input_bg input-xlarge" id = "search_value_to_invite">
                      <span class="btn add-on btn-warning" id = "search_friends_to_invite">Go</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="span5"> 
                <div style="padding: 5px;background-color: #d1d2d4;" class="selects-container">
                  <% if @friend_mappings.present? %>
                    <% @friend_mappings.each_slice(2) do|friends_slice| %>
                      <div class="row-fluid">
                        <% friends_slice.each do|friend_mapping| %>
                          <% friend = User.find(friend_mapping.friend_id) %>
                          <% position_class = (friends_slice.index(friend_mapping)==0) ? "padding_left" : "" %>
                           <div class="span6 <%= position_class %>" style="margin-left:-1px">
                             <label class="checkbox inline width-100-percent ">
                              <input type="checkbox" id="<%= friend.id%>" class="checkbox-input" value="<%= friend.id%>"> <%= "#{friend.first_name}  #{friend.last_name}"%>
                              </label>
                          </div>
                        <%end%>
                      </div>
                    <%end%>
                  <% end %>  
                    <div class="row-fluid">
                      <div class="span4"></div>
                      <div class="span4"></div>
                      <div class="span4">
                        <label class="checkbox inline select-all-label">
                          Select all
                        </label>
                      </div>
                    </div>
                  </div>
                  <!-- </form> -->
                </div>
              </div>
                      
            </div>

          </div>
        </div>
      </div>
      <div id= "main_frame" class = "selects-container">

      </div>
    </div>
 
  <div class="buttons_height">
    <div class=" hr_bg" style=""> 
      <div class="text_align_center newshow_btn"> 
        <!-- <a class="btn  btn-warning " href="#">Publish show</a> -->
        <%= f.submit "Publish Show", :class => "btn btn-warning publish-show-btn" %>
      </div>
    </div>
  </div>
<% end %>
<% content_for :js_with_script_tags do %>
  <script src="/assets/recorder.js"> </script>
  <script src="/assets/whammy.js"></script>
  <script src="/assets/html5_audio_video_record_scripts.js"></script>
<% end %>
