
<%= form_for [:web, @show], :html => {:class => "js-validated-form form-horizontal",
                    :method => :put} do |f| %>
  <%= params[:twitter_friends]  %>
  <!-- Form fields (Black Box) -->
  <%= render :partial => "web/shows/form/show_details",
                         :locals => { :f => f, :title=> "Edit Show Details" } %>
  
  <!-- Edit Contributors show videos(White Box) -->
  <%= render :partial => "web/shows/form/edit_contributors", :locals => { :f => f } %>

  <!-- Invite Friends from Facebook and Twitter (White Box) -->
  <%= render :partial=> "web/shows/form/invite_friends_block", :locals =>{ :f => f } %>
  
  <%= hidden_field_tag :id, params[:id] %>
  <%= hidden_field_tag :order_list %>
  
  <!-- Show Re-Open & End Show Button which submits the form -->
  <div class="buttons_height">
    <div class=" hr_bg" style="">
      <div class="text_align_center login_and_account">
        <%= f.submit "Update Show", :class => "btn btn-primary " ,
                      :id => "edit_show_submit_btn" %>
        <i style="" class="sprite-or-icon_black"></i>
        <% if @show.try(:end_set) && (@show.end_set < Time.now) %>
          <%= link_to "Re-open Show",
                      status_update_web_shows_path(:show_id => params[:id],
                                                   :status => "start"),
                      :class => "btn  btn-info " %>
        <% else %>
          <%= link_to "End Show",
                      status_update_web_shows_path(:show_id => params[:id],
                                                   :status => "end"),
                      :class => "btn  btn-warning " %>
        <% end %>
      </div>
    </div>
  </div>
  
<% end %>

