<!DOCTYPE html>
<html>
  <head>
    <title>Rvidi</title>

    <%= stylesheet_link_tag "application", :media => "all" %>   <!-- Load All Common Styles from application css file -->
    <%= stylesheet_link_tag controller_name %>                  <!-- To load Only Controller specific Styles -->
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="user_nav">
      <% if current_user %>
        Logged in as <strong><%= current_user.email %></strong>!
        <%= link_to "Sign out", sign_out_path %>
      <% else %>
        <%= link_to "Sign up", sign_up_path %> or
        <%= link_to "Sign Up with Facebook", "/auth/facebook", id: "sign_in" %>
        <%= link_to "Sign in with Twitter", "/auth/twitter" , id: "sign_in" %>
      <% end %>
    </div>

    <%= yield %>

    <%#* Loading Javascripts. Loading in last, will load the page much faster. %>    
    <%= javascript_include_tag "application" %>   <!-- Load All Common JavaScripts from application js file -->
    <%= javascript_include_tag controller_name %> <!-- To load Only Controller specific JavaScripts -->

    <script type='text/javascript'>
      <%= yield :js %>
    </script>

  </body>

</html>
