<!DOCTYPE html>
<html>
  <head>
    <title>Rvidi</title>

    <%= stylesheet_link_tag "application", :media => "all" %>   <!-- Load All Common Styles from application css file -->
    <%= stylesheet_link_tag controller_name %>                  <!-- To load Only Controller specific Styles -->

    <%= csrf_meta_tags %>
  </head>
  
  <body>

    <%= yield %>

    <%#* Loading Javascripts. Loading in last, will load the page much faster. %>    
    <%= javascript_include_tag "application" %>   <!-- Load All Common JavaScripts from application js file -->
    <%= javascript_include_tag controller_name %> <!-- To load Only Controller specific JavaScripts -->

    <script type='text/javascript'>
      <%= yield :js %>
    </script>

  </body>
</html>
