<% if @cameo_duration.present? && @cameo_duration >= @remaining_contribution %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= content_tag :div,
                    "Your cameo exceeds the show limit. you can contribute a cameo length of #{@remaining_contribution} seconds" %>
  </div>
<% end %>

<div class="black-box accordion" id="accordion1">
  <div class="accordion-group plus-minus-container">
    <div class="accordion-heading">

      <%#= f.hidden_field :start_time %>
      <%#= f.hidden_field :end_time %>
      <div class="accordion-toggle changeable-plus-minus"
           data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">

        <!-- Heading -->
        <%= content_tag :h2, title, :class=>"pull-left" %>

        <!-- Help Icon -->
        <i class="sprite-question-small pull-left margin-top-20 margin-left-20"> </i>

        <!-- Toggle Icon -->
        <i class="sprite-minus-small plus-minus-i pull-right margin-top-10"> </i>

        <div class="cl"></div>

      </div>
    </div>

    <div id="collapseOne" class="accordion-body collapse in">

      <div class="accordion-inner">

        <div class="border-bottom-white"></div>

        <!-- Title -->
        <div class="control-group">
          <label class="control-label  blue_label" 
                 for="inputPassword"
                 style="width:164px;">Give your cameo a title<span class="star_css">*</span></label>
          <div class="controls">
            <%= f.text_field :title, :class => "show-show-tag", :placeholder => "Give your cameo a title" %>
          </div>
          <p id="cameo_title_error" class="error-message" style="display:none;margin-left:200px;">&nbsp;</p><br/>
        </div>

        <%= f.hidden_field :user_id, :value => current_user.id, :class => "cameo-user-id" %>
        <%= f.hidden_field :show_id, :value => @cameo.show_id, :class => "cameo-show-id" %>
        <%= f.hidden_field :director_id, :value => @cameo.director_id, :class => "cameo-director-id" %>
        <%#= f.hidden_field :cameo_duration, :value => @cameo.file.duration, :class => "cameo-director-id" %>

        <!-- Content to show HTML5 Recorder Ends -->
        <% if params[:id].present? %>

          <div id="show_<%= @cameo.show_id %>_kaltura_player_container">
            <% selected_cameo = Cameo.find(params[:id])%>
            <%#= render :partial => "web/shows/player/cameo_player_without_playlist",
                       :locals => { :cameo => selected_cameo,
                                    :width => "100%", :height => "400px" } %>
            <div id="slider-range"
                 style="width: 68%;margin-left: 34px; margin-top: 8px;"
                 title="Video Clipper">
            </div>
            <div id="slider-range-value" style="margin-left: 34px; margin-top: 5px;">
              <%#= "0 to #{@cameo.duration} (Seconds)" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<% content_for :js_with_script_tags do %>
  <script type="text/javascript">
    jQuery(document).ready(function($){
      $( "#slider-range" ).slider({
        range: true,
        min: 0,
        max: 1<%#= @cameo.duration.to_i %>,
        values: [ 0, 1<%#= @cameo.duration.to_i %> ],
        slide: function( event, ui ) {
          $( "#slider-range-value" ).text( ui.values[ 0 ] + " to " + ui.values[ 1 ] + ' (Seconds)' );
          $('#cameo_start_time').val(ui.values[ 0 ]);
          $('#cameo_end_time').val(ui.values[ 1 ]);

        }
      });
    });
  </script>
<% end %>
